@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define o fundo escuro padrão para o site todo */
body {
    @apply bg-gray-950 text-white; 
}

/* Personalização da barra de rolagem (opcional, fica bonitão) */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #1f2937; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563; 
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6b7280; 
}